<mat-horizontal-stepper>
    <mat-step label="Step 1">
      <p>Step 1 content</p>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Step 2">
      <p>Step 2 content</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Step 3">
      <p>Step 3 content</p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Finish</button>
    </mat-step>
  </mat-horizontal-stepper>
  