.overlay{
    display: flex;
    justify-items: center;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 1, 1, 0.455);
    color: white;
    backdrop-filter: blur(5px);
    
}

.to-center{
    margin-left: auto;
    margin-right: auto;
}