<table mat-table [dataSource]="tableUserlist()" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name. </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> last_name </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> actions </th>
        <td mat-cell *matCellDef="let element;let i = index"> <button [id]="'deleteBtn'+i" mat-mini-fab
                (click)="deleteUser(i)" class="btn-group"> <mat-icon>delete</mat-icon></button>
            <button [id]="'updateBtnBtn'+i" mat-mini-fab (click)="fectSelctedUser(element,i)" class="btn-group">
                <mat-icon>update</mat-icon></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let i = index;columns: displayedColumns;" onclick=""></tr>

</table>

<div class="overlay" *ngIf="selectedUser">
    <button mat-mini-fab (click)="selectedUser=null" class="close-btn">
        <mat-icon>
            close
        </mat-icon>
    </button>
    <!-- Stepper -->
    <mat-vertical-stepper [formGroup]="formUpdate" #stepper (ngSubmit)="onSubmitUpateUser()"
        class="to-center formstyle">
        <mat-step label="Name">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Peter">
            </mat-form-field>
            <div>

                <button mat-raised-button matStepperPrevious>back</button>
                <button mat-raised-button matStepperNext>next</button>
            </div>
        </mat-step>

        <mat-step label="Last Name">

            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name" placeholder="Sander">
            </mat-form-field>


            <div>
                <button mat-raised-button matStepperPrevious>back</button>
                <button mat-raised-button matStepperNext>next</button>
            </div>


        </mat-step>

        <mat-step label="Email">

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="psander@mail.coza">
            </mat-form-field>
            <div>
                <button mat-raised-button matStepperPrevious>back</button>
                <button mat-stroked-button color="primary" (click)="onSubmitUpateUser()">Update User</button>
            </div>

        </mat-step>

    </mat-vertical-stepper>

</div>

<app-spinner [loadingBool]="loading" />